extends layout

block content
  h1= title

  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='#') Dentisalud
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/')
            | Home 
            span.sr-only (current) 
      form.form-inline.mt-2.mt-md-0       
  main.container(role='main')
    .jumbotron
      h1 Home
    .container

    .row
      .col-md-12
        form(action='/')
         .form-group
          label(for='nya')
           strong Nombres y Apellidos
          input#nya.form-control(type='text' aria-describedby='nyaHelp' placeholder='Ingresa tus Nombres y Apellidos', required)
          small#nyaHelp.form-text.text-muted Por favor, Nombres y Apellidos Completos.
 
         .form-group
          label(for='email')
           strong Email
          input#email.form-control(type='email' aria-describedby='emailHelp' placeholder='Ingresa tu Email', required)
          small#emailHelp.form-text.text-muted Tu correo activo.	
		
    hr

  footer
  .container
    div(align='center')
      | Desarrollado por 
      a(href='#' target='_blank') Logic Informatica
